@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .cl-formFieldInput {
    height: 45px !important;
    border-radius: 2px !important;
    border: 1px solid #9c9c9c !important;
    box-shadow: none !important;
  }
  
  .cl-formButtonPrimary {
    height: 45px !important;
    background-color: #04936E !important;
    color: white !important;
    box-shadow: none !important;
    border-radius: 2px !important;
  }
  
  .cl-cardBox{
    box-shadow: none !important;
    border-radius: 0 !important;
    z-index: 1 !important;
    border: 1px solid #9c9c9c !important;
  }
  
  table {
    border: 1px solid #9c9c9c;
    margin-top: 20px;
  }
  
  .ant-form-item {
    margin-bottom: 0 !important;
  }
  
  .ant-form-item-label {
    padding: 0 !important;
  }